doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')    
    
    block head
  body
    block content
    
    footer
      h6 API - Provas Universidade Federal da Paraíba
