body {
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}
/*.navbar {
	margin-bottom: 0
}*/
footer {
  position: absolute;
  bottom: 0;
}

.form-signin-heading {
  margin-bottom: 10px;
  font-size: 25px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.margin-top {
  margin-top: 3px;
}
