extends ../layout

block content
    .navbar.navbar-default.navbar-static-top
        .container-fluid
            ul.nav.navbar-nav
                li.active(role='presentation')
                    a(href='/dashboard') dashboard
                li(role='presentation')
                    a(href='/') logout
    block operations
        .container
            .panel.panel-primary
                .panel-heading Administrador
                .panel-body
                    .text-center
                        .btn-group.btn-group-lg(role='group')
                            a.btn.btn-success.btn-block.center-block(type='button', href='/dashboard/adm/adicionar') Adicionar
                            a.btn.btn-danger.btn-block(type='button', href='/dashboard/adm/remover') Remover
                            a.btn.btn-default.btn-block(type='button', href='#') Atualizar
                            a.btn.btn-default.btn-block(type='button', href='#') Consultar
        