extends ../layout

block content
    .navbar.navbar-default.navbar-static-top
        .container-fluid
            ul.nav.navbar-nav
                li.active(role='presentation')
                    a(href='/dashboard') dashboard
                li(role='presentation')
                    a(href='/') logout
    block operations
        .container
            .panel.panel-primary
                .panel-heading Administrar Usu치rios
                .panel-body
                    .text-center
                        .btn-group.btn-group-lg(role='group')
                            a.btn.btn-success.btn-block.center-block(type='button', href='/dashboard/adm/adicionar') Adicionar
                            a.btn.btn-danger.btn-block(type='button', href='/dashboard/adm/remover') Remover
                            a.btn.btn-default.btn-block(type='button', href='#') Atualizar
                            a.btn.btn-default.btn-block(type='button', href='#') Consultar
            
            .panel.panel-primary
              .panel-heading Relat칩rios
              .panel-body
                .row
                  .col-xs-12.col-md-6.col-md-offset-3
                    form(method='post' action='/dashboard/report?type=txt')
                      input(type="submit", value="Gerar Relat칩rio em txt").btn.btn-primary.btn-block
                .row
                  .col-xs-12.col-md-6.col-md-offset-3
                    form(method='post' action='/dashboard/report?type=pdf')
                      input(type="submit", value="Gerar Relat칩rio em PDF").btn.btn-primary.btn-block
                                  