extends ../layout

block head
  script(src='/templates/js/metisMenu.min.js')
  script(src='/templates/js/sb-admin-2.js')
  link(rel='stylesheet', href='/templates/css/sb-admin-2.css')
  link(rel='stylesheet', href='/templates/css/metisMenu.min.css')

block content
  #wrapper
    nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0')
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        |  
        a.navbar-brand(href='dashboard.pug') API Provas v0.1
      ul.nav.navbar-top-links.navbar-right
        li.dropdown
          a.dropdown-toggle(data-toggle='dropdown', href='#')
            i.fa.fa-user.fa-fw
            i.fa.fa-caret-down
          ul.dropdown-menu.dropdown-user
            li
              a(href='#')
                i.fa.fa-user.fa-fw
                |  User Profile
            li
              a(href='#')
                i.fa.fa-gear.fa-fw
                |  Settings
            li.divider
            li
              a(href='login.html')
                i.fa.fa-sign-out.fa-fw
                |  Logout
      .navbar-default.sidebar(role='navigation')
        .sidebar-nav.navbar-collapse
          ul#side-menu.nav
            li.sidebar-search
              .input-group.custom-search-form
                input.form-control(type='text', placeholder='Search...')
                |  
                span.input-group-btn
                  button.btn.btn-default(type='button')
                    i.fa.fa-search
            li
              a(href='/')
                i.fa.fa-dashboard.fa-fw
                |  Dashboard
            li
              a(href='#')
                i.fa.fa-shield.fa-fw
                |  Administrador
                span.fa.arrow
              ul.nav.nav-second-level
                li
                  a(href='/dashboard/adm/consultar') Consultar
                li
                  a(href='/dashboard/adm/adicionar') Adicionar
                li
                  a(href='/dashboard/adm/remover') Remover
                li
                  a(href='/dashboard/adm/atualizar') Atualizar senha
            li
              a(href='#')
                i.fa.fa-users.fa-fw
                |  Usuários
                span.fa.arrow
              ul.nav.nav-second-level
                li
                  a(href='#') Consultar
                li
                  a(href='morris.html') Remover
