extends ./dashboard

block operations
  .row
    .col-lg-12
        .panel-body
          form.form-signin(action="/register", method="delete")
            h2.form-signin-heading Insira login
            input#inputLogin.form-control(type='text', name='login', placeholder='Usuário', required='', autofocus='')
            button.btn.btn-lg.btn-danger.btn-block.margin-top(type='submit') Deletar
