extends layout

block head
  link(rel='stylesheet', href='/templates/css/sigin.css')    

block content
  .container
    form.form-signin(action="/api-admin", method="post")
      h2.form-signin-heading Bem-vindo
      input#inputLogin.form-control(type='text', name='login', placeholder='Usuário', required='', autofocus='')
      input#inputPassword.form-control(type='password', name='password' placeholder='Senha', required='')
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Entrar
      |  Não possui cadastro? 
      a.btn.btn-link(href='/register', role='button') Cadastre-se
      |
      a.btn.btn-link.btn-block(href='/', role='button') Voltar
      include messages
