extends layout

block head
  link(rel='stylesheet', href='/templates/css/sigin.css')    

block content
  .container
    form.form-signin(action="/register", method="post")
      h2.form-signin-heading Registre-se
      input#inputLogin.form-control(type='text', name='login', placeholder='Usuário', required='', autofocus='')
      input#inputPassword.form-control(type='password', name='password' placeholder='Senha', required='')
      button.btn.btn-lg.btn-success.btn-block(type='submit') Registrar
      a.btn.btn-link.btn-block(href='/', role='button') Voltar
      include messages